[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=54.86.146.46
Environment=CART_PORT=8080
Environment=USER_HOST=3.83.104.252
Environment=USER_PORT=8080
Environment=AMQP_HOST=52.207.239.189
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target